:8080
bind 0.0.0.0
gzip
ext .html
root ./dist

proxy /products products:8080 { 
 header_upstream cookie {~cookie}
 header_upstream Cookie {~Cookie} 
 without /products
}

proxy /inventory inventory:8000 {
 without /inventory
}
